*.pyc
*.sqlite
.idea/
\current*
.coverage
.DS_Store

# for experimentation
scratch.py
lineups.sh
data/df.csv
data/fd.csv
experimental/

.spyproject
.vscode
start_container.batch

dist/
draftfast.egg-info/
start_container.bat
